*{
  padding: 0;
  margin: 0;
}

h2{
  color: rebeccapurple;
  margin: 10px;
  font-family: cursive;
}

.animinput,.anim1{
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.animinput .left,.right,.center,.bottom{
  border: 0;
  padding: .5em;
  width: 50%;
  margin: 1em;
  font-size: 1.1em;
  outline: 0;
  color: rebeccapurple;
  background: rgba(0,0,0,0) no-repeat;
	background-size: 0% 1px;
	background-position: 0% 100%;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  transition: all 0.3s cubic-bezier(.22,.6,.81,.4);
	background-image: linear-gradient(to bottom, #333, #333);
}

.animinput .bottom{
  background-size: 100% 1px;
  border: 0;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}

.animinput .right{
  background-position: 100% 100%;
}

.animinput .center{
  background-position: 50% 100%;
}

.animinput .left:focus,.animinput .right:focus,.animinput .center:focus{
	background-size: 100% 1px;
	outline: none;
  border-bottom-color: rebeccapurple;
  background-image: linear-gradient(to bottom, rebeccapurple, rebeccapurple);
}

.animinput .bottom:focus{
  background-position: 0% 0%;
  background-size: 100% 1px;
	outline: none;
  border:1px solid rebeccapurple;
  background-image: linear-gradient(to bottom, rebeccapurple, rebeccapurple);
}

::placeholder{
  color: rgba(51,51,51,.6);
}

.anim1 .oi,.io{
  padding: .5em;
  width: 50%;
  margin: 1em;
  font-size: 1.1em;
  outline: 0;
  color: rebeccapurple;
  border: 0;
  transition: box-shadow ease .4s;
  box-shadow:0px 0px 5px 1px rgba(51,51,51,.1), 1px 1px 5px -1px rgba(51,51,51,.2);
}

.anim1 .io{
  box-shadow: 0px 0px 1px 1px rgba(102, 51, 153,1);
}

@keyframes focused {
  0%{
    box-shadow: 0px 0px 25px 12px rgba(102, 51, 153,.4);
  }
  50%{
    box-shadow: 0px 0px 20px 10px rgba(102, 51, 153,.3);
  }
  75%{
    box-shadow: 0px 0px 15px 8px rgba(102, 51, 153,.2);
  }
  100%{
    box-shadow: 0px 0px 10px 6px rgba(102, 51, 153,.1);
  }
}

@keyframes unfocus {
  0%{
    box-shadow: 0px 0px 10px 6px rgba(102, 51, 153,.4);
  }
  50%{
    box-shadow: 0px 0px 15px 8px rgba(102, 51, 153,.3);
  }
  75%{
    box-shadow: 0px 0px 20px 10px rgba(102, 51, 153,.2);
  }
  100%{
    box-shadow: 0px 0px 25px 12px rgba(102, 51, 153,.1);
  }
}

.anim1 .oi:focus{
  animation: focused .3s;
  box-shadow: 0px 0px 1px 1px rgba(102, 51, 153,1);
}

.anim1 .io:focus{
  animation: unfocus .3s;
  box-shadow:0px 0px 5px 1px rgba(51,51,51,.1), 1px 1px 5px -1px rgba(51,51,51,.2);
}

.anim2{
  padding: 1em;
}

.anim2 .ba,.borderanim .bor{
  border: 0;
  padding: .5em;
  width: 50%;
  margin: 1em;
  font-size: 1.1em;
  outline: 0;
  color: rebeccapurple;
  background: rgba(0,0,0,0) no-repeat;
	background-size: 100%;
	background-position: 100vh;
  transition: all 0.3s cubic-bezier(.22,.6,.81,.4);
	background-image: linear-gradient(to top, rgba(102, 51, 153,.05), transparent);
  transition: all ease .4s;
  box-shadow:0px 0px 5px 1px rgba(51,51,51,.1), 1px 1px 5px -1px rgba(51,51,51,.2);
}

.anim2 .ba:focus{
  background-position: 0vh;
  box-shadow: 0px 0px 1px 1px rgba(102, 51, 153,1);
}

.borderanim{
  position: relative;
}

.borderanim .bor{
  background: white;
  box-sizing: border-box;
  margin-bottom: 0;
  mix-blend-mode: hue;
}

.borderanim .bor:focus{
  box-shadow: 0px 0px 4px 4px rgba(102, 51, 153,.1);
}

.borq::before{
  position: absolute;
  width: 0%;
  height: 0%;
  top: 14px;
  left: 14px;
  content: "";
  animation: anim4 reverse .5s;
  border: 2px solid transparent;
}

.borq::after{
  position: absolute;
  width: 0%;
  height: 0%;
  top: 14px;
  left: 14px;
  content: "";
  border: 2px solid transparent;
  animation: anim3 reverse .5s;
}

@keyframes anim3 {
  0%{
    width: 0%;
    height: 0;
    border-top-color: rgba(102, 51, 153,.85);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  50%{
    width: 50%;
    height: 0;
    border-top-color: rgba(102, 51, 153,.85);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: rgba(102, 51, 153,.85);
  }
  100%{
    width: 50%;
    height: 70%;
    border-top-color: rgba(102, 51, 153,.85);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: rgba(102, 51, 153,.85);
  }
}

@keyframes anim4 {
  0%{
    width: 0%;
    height: 0;
    border-bottom-color: rgba(102, 51, 153,.85);
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  50%{
    width: 0%;
    height: 70%;
    border-bottom-color: rgba(102, 51, 153,.85);
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: rgba(102, 51, 153,.85);
  }
  100%{
    width: 50%;
    height: 70%;
    border-bottom-color: rgba(102, 51, 153,.85);
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: rgba(102, 51, 153,.85);
  }
}

.bor:focus + .borq::before{
  animation: anim3 forwards .6s;
}

.bor:focus + .borq::after{
  animation: anim4 forwards .6s;
}
