*{
  padding: 0;
  margin: 0;
}

.sidebar{
  overflow: hidden;
  display: inline-block;
  color: rebeccapurple;
  cursor: pointer;
  font-family: cursive;
  padding: .5em;
  font-size: 1.2em;
}

.sidebar:hover{
  background: rebeccapurple;
  color: white;
}

.nav{
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 30vw;
  height: 100vh;
  left: 0;
  padding: 1em;
  -webkit-clip-path:ellipse(0% 0% at 40% 30%);
  transition: all .3s cubic-bezier(.22,.6,.81,.4);
  background: tomato;
}

.nav.circle{
  -webkit-clip-path:circle(0% at 30% 30%);
}

.circle.open{
  pointer-events: all;
  -webkit-clip-path:circle(100% at 30% 30%);
}

.open.ellipse{
  pointer-events: all;
  -webkit-clip-path:ellipse(75% 40% at 50% 30%);
}

a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.3em;
}

.nav ul{
  list-style: none;
}

.nav ul li{
  padding: .5em;
  transition: all 1s cubic-bezier(.22,.6,.81,1.4);
  opacity: 0;
  transform: translateX(-50%);
}

.open ul li{
  opacity: 1;
  transition: all cubic-bezier(.22,.6,.81,1.4) .2s;
  transform: translateX(0%);
}

.open ul li:hover{
  background: rgba(0,0,0,0.15);
  border-radius: 10px;
}

.open ul a:nth-child(1) li{
  margin-top: 1em;
}

.close{
  font-size: 1.2em;
  cursor: pointer;
  float: right;
  transition: color ease .2s;
}

.close:hover{
  color: white;
}

select{
  display: block;
  width: 40%;
  color: tomato;
  height: 3em;
  border: 0;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0;
  margin: .5em;
}

select:focus{
  outline: none;
}

h4{
  font-family: cursive;
  margin: .2em;
  color: tomato;
}
